# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.*.swp

.DS_Store

*.pyc

Makefile

/m4
config.guess
config.log
config.status
config.sub

libtool
ltmain.sh

.deps/

libcola/config.h.in
libcola/stamp-h1
libcola/config.h
libcola/config.h.in~

diff

*/tests/*
!*/tests/*.cpp
!*/tests/*.h
!*/tests/Makefile.am
!libdialect/tests/swig_tests
libdialect/tests/swig_tests/output/*
!libdialect/tests/swig_tests/output/README.txt
!libdialect/tests/graphs


lib*/.libs
lib*/lib*.pc

adaptagrams*
!adaptagrams.i

swig-worked
test-driver

