# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.*.swp

Makefile

/m4
config.guess
config.log
config.status
config.sub

libtool
ltmain.sh

.deps/

libcola/config.h.in
libcola/stamp-h1
libcola/config.h

diff

*/tests/*.svg
*/tests/*.pdf

# The test executables.  It's not great to have this list, which
# requires manual updating; an alternative is to put all the
# executables in one directory and then ignore that.
libavoid/tests/2junctions
libavoid/tests/buildOrthogonalChannelInfo1
libavoid/tests/checkpointNudging1
libavoid/tests/checkpointNudging2
libavoid/tests/checkpoints01
libavoid/tests/complex
libavoid/tests/connectionpin01
libavoid/tests/connectionpin02
libavoid/tests/connectionpin03
libavoid/tests/connendmove
libavoid/tests/example
libavoid/tests/finalSegmentNudging1
libavoid/tests/finalSegmentNudging2
libavoid/tests/freeFloatingDirection01
libavoid/tests/hyperedge01
libavoid/tests/hyperedgeLoop1
libavoid/tests/improveHyperedge01
libavoid/tests/infinity
libavoid/tests/inline
libavoid/tests/inlineShapes
libavoid/tests/inlineoverlap01
libavoid/tests/inlineoverlap02
libavoid/tests/inlineoverlap03
libavoid/tests/inlineoverlap04
libavoid/tests/inlineoverlap05
libavoid/tests/inlineoverlap06
libavoid/tests/inlineoverlap07
libavoid/tests/junction01
libavoid/tests/junction02
libavoid/tests/junction03
libavoid/tests/junction04
libavoid/tests/latesetup
libavoid/tests/lineSegWrapperCrash1
libavoid/tests/lineSegWrapperCrash2
libavoid/tests/lineSegWrapperCrash3
libavoid/tests/lineSegWrapperCrash4
libavoid/tests/lineSegWrapperCrash5
libavoid/tests/lineSegWrapperCrash6
libavoid/tests/lineSegWrapperCrash7
libavoid/tests/lineSegWrapperCrash8
libavoid/tests/multiconnact
libavoid/tests/node1
libavoid/tests/nudgeintobug
libavoid/tests/nudgeold
libavoid/tests/orderassertion
libavoid/tests/orthordering01
libavoid/tests/orthordering02
libavoid/tests/overlappingRects
libavoid/tests/performance01
libavoid/tests/restrictedNudging
libavoid/tests/slowrouting
libavoid/tests/tjunct
libavoid/tests/validPaths01
libavoid/tests/validPaths02
libavoid/tests/vertlineassertion
libcola/tests/FixedRelativeConstraint01
libcola/tests/StillOverlap01
libcola/tests/StillOverlap02
libcola/tests/beautify
libcola/tests/constrained
libcola/tests/invalid
libcola/tests/makefeasible
libcola/tests/nodedragging
libcola/tests/page_bounds
libcola/tests/random_graph
libcola/tests/rectclustershapecontainment
libcola/tests/unsatisfiable
libvpsc/tests/block
libvpsc/tests/rectangleoverlap
libvpsc/tests/satisfy_inc
